---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HeroLink from "../components/HeroLink.astro";
---

<Layout>
	<Hero slot="header" title="Escuela Técnica Henry Ford" description="Educación de excelencia, especialización electromecánica">
		<HeroLink href="/ingreso">
			<p>Ingreso</p>
			<span>A primer año</span>
		</HeroLink>
		<HeroLink href="/ingreso">
			<p>Galería</p>
			<span>Fotos y videos</span>
		</HeroLink>
		<HeroLink href="/ingreso">
			<p>Galería</p>
			<span>Fotos y videos</span>
		</HeroLink>
		<HeroLink href="/ingreso">
			<p>Galería</p>
			<span>Fotos y videos</span>
		</HeroLink>
	</Hero>
</Layout>
