---
import Navigation from "@/components/navigation";
import { navigationMenu } from "@/lib/data";

const menu = await navigationMenu();
---

<header class="bg-white text-zinc-900 py-4 border-b fixed w-full">
    <div class="container mx-auto px-4 md:px-6">
        <div class="flex items-center justify-between">
            <Navigation client:load items={menu} />
            <p class="font-bold">ETHF</p>
        </div>
    </div>
</header>

<div class="h-[69px]"></div>