---
    import Contenido from "~/components/Contenido.astro";
import MenuLateral from "~/MenuLateral.astro";
    import Layout from "./Layout.astro";

    interface Props {
        titulo: string;
        descripcion?: string;
    }

    const { titulo, descripcion } = Astro.props;
---

<style>
    .content {}

    @media screen and (min-width: 768px) {
        .principal {
            margin-left: 280px;
        }
    }

    @media screen and (min-width: 1024px) {
        .principal {
            margin-left: 330px;
        }
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }

    @media print {
        .menu {
            display: none;
        }
    }
</style>

<Layout title={titulo} description={descripcion}>
    <div class="menu">
        <MenuLateral />
    </div>
    <div class="principal">
        <slot name="hero" />
        <main>
            <Contenido>
                <slot />
            </Contenido>
        </main>
        <slot name="principal" />
    </div>
</Layout>